<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96299056314-la6s778je09pnu7usgcggv8lfioec40d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96299056314-la6s778je09pnu7usgcggv8lfioec40d</string>
	<key>API_KEY</key>
	<string>AIzaSyCUGvEXbjDP6TDJ1gV0MwsO79wFc18fCRg</string>
	<key>GCM_SENDER_ID</key>
	<string>96299056314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lasertroid.lasertroid</string>
	<key>PROJECT_ID</key>
	<string>laser-troid</string>
	<key>STORAGE_BUCKET</key>
	<string>laser-troid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96299056314:ios:7f019cf5bf5d4a195d5683</string>
	<key>DATABASE_URL</key>
	<string>https://laser-troid.firebaseio.com</string>
</dict>
</plist>